BASE_URL={{ konfwg_base_url }}
CLI_PATH={{ konfwg_cli_path }}
CODE_PATH={{ konfwg_code_path }}
ETC_PATH={{ konfwg_etc_path }}
DB_PATH={{ konfwg_db_path }}
LOG_PATH={{ konfwg_log_path }}
TMP_PATH={{ konfwg_tmp_path }}
SUDO_PATH={{ konfwg_sudo_path }}
WG_DIRECTORY={{ wg_directory }}
WG_PUBLICINT={{ wg_public_interface }}
DEFAULT_TTL={{ konfwg_default_ttl }}
DEFAULT_HITS={{ konfwg_default_hits }}
SECRET={{ konfwg_secret }}