{{ konfwg_domain }} {
  reverse_proxy {{ konfwg_uvicorn_host }}:{{ konfwg_uvicorn_port }} {
    header_up Host {host}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
  }
}